pandas
SQLAlchemy 
mysql-connector
pymysql
psycopg2-binary
pymongo==3.12.0
cassandra-driver
flask
faker
matplotlib
seaborn
numpy
pyarrow
jupyterlab
requests 
feature_engine
scikit-learn
tensorflow
torch
opencv-python
mediapipe

